{% if latest_question_list %}

    <ul>
        {% for question in latest_question_list %}
            <!-- Do not use hard code url since they make the code hard to revise if the regex is changed in -->
            <!--<li><a href="/polls/{{question.id}}/">{{question.question_text}}</a></li>-->
            <!-- 'detail' means namespace in this context -->
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are avaliable.</p>
{% endif %}